[Unit]
Description=Geneshift Discord integration.

[Service]
Type=simple
WorkingDirectory=/opt/GeneshiftBot
ExecStart=/usr/bin/pnpm dev

[Install]
WantedBy=multi-user.target
